@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App{
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
} */

.App{
    background-color: rgb(218, 243, 234);
    height: 100vh;
}